@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
:root {
  --highlight-left: 0;
  --pagination-width: 0;
}

.b {
    font-family: sans-serif;
    margin: 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.radio-checked {
  position: relative;
  /* font-size: 20px; */
  /* letter-spacing: 1px; */
  border: 1px solid #ced4da;
  /* height: 38px !important; */
  /* margin-top: -1%; */
  /* padding: 4px; */

}

.swal-title {
  margin: 0px;
  font-size: 16px;
  color: red;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.swal-button--confirm{
  width: 80px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
.swal-button--confirm :hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60 !important;
}

.radio-checked_input {
  display: none;
}
.radio-checked_input:checked + .radio-checked_label--on {
  color: white;
  text-shadow: 0 0 7px rgba(71, 207, 115, 0.6);
  background-color: #27AE60;


}
.radio-checked_input:checked + .radio-checked_label--off {
  color: white;
  text-shadow: 0 0 7px rgba(255, 60, 65, 0.6);
  background-color: #27AE60;

}
.radio-checked_input:checked + .radio-checked_label:before {
  display: none;
}
.radio-checked_label {
  cursor: pointer;
  
  display: inline-block;
  padding: 6px 0px 6px;
  color: #acb2c0;
  transition: all 150ms ease-in-out;
  width: 49%;
  font-size: calc(80% - 0px) !important;
  text-align: center;
 
}
@media screen and  (max-width: 720px){
  .radio-checked_label {

    font-size: calc(80% - 0px) !important;

  }

}
.radio-checked_label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.radio-checked_container {
  position: relative;
}
.radio-checked_highlight {
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--pagination-width);
  height: 100%;
  background: #27AE60;
  transition: all 0.6s ease;
  transform: translateX(var(--highlight-left));
}

.svg {
  position: absolute;
  top: -50%;
  bottom: -50%;
  pointer-events: none;
}
.svg_icon {
  width: auto;
  height: 100%;
}
.svg--right {
  left: 100%;
}
.svg--left {
  right: 100%;
}